# Ignore node_modules and logs
node_modules
*.log

# Ignore environment variable files for safety concern
.env
.env.local
.env.*.local

# Ignore local build directories
.next
.vercel

# Ignore dev files
coverage
.gitignore